
@import "modules/categories-list";
@import "modules/fact";
@import "modules/loading";

body, input, select, label{
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 15px;
  font-weight: 400;
  background-color: #3F51B5
}

.wrapper{
  margin-top: 20px;
}

.container{
  width: 300px;
  margin: 0 auto;
}

a{
  color: #000;
}